<main>
  <div class = "container px-5">
    <div class = "row m-3">
      <h5>会員情報編集</h5>
    </div>
    
    <div class = "row ml-3">
      <% if @customer.errors.any? %>
        <h6 class = "col-auto text-danger">全ての値を入力ください。</h6>
      <% end %>
    </div>

  <%= form_with model: @customer,url: customers_path,method: :patch do |f| %>

  <div class = "row mt-2">
        <p class = "col-3">氏名</p>
        <%= f.text_field :last_name ,class: "form-control col-3 mr-5"%>
        <%= f.text_field :first_name ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">フリガナ</p>
        <%= f.text_field :last_name_kana ,class: "form-control col-3 mr-5"%>
        <%= f.text_field :first_name_kana ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">郵便番号</p>
        <%= f.text_field :postal_code ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">住所</p>
        <%= f.text_field :address ,class: "form-control col-8 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">電話番号</p>
        <%= f.text_field :telephone_number ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">メールアドレス</p>
        <%= f.text_field :email ,class: "form-control col-3 mr-5"%>
    </div>

    <div class = "row">
      <div class = "col-3"></div>
      <%= f.submit '編集内容を保存', class:"btn btn-success col-3 mr-5 my-3" %>
      <%= link_to "退会する",customer_secession_path, class:"btn btn-danger col-auto my-3"%>
    </div>
  <%end%>
  </div>
</main>