<main>
  <div class = "container px-5">
    <div class = "row m-3">
      <h2>マイページ</h2>
    </div>

    <div class = "row m-3">
      <p class = "col-2 my-1">登録情報</p>
      <%= link_to "編集する", edit_customers_path, class: "col-2 btn btn-sm btn-success" %>
    </div>

    <div class = "row ml-3 ">
      <table class="table table-bordered table-inverse col-md-6">
        <tbody>
          <tr>
            <td class="table-active col-md-4">氏名</td>
            <td class="col-md-8"><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td><%= @customer.last_name_kana%>　<%=@customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-active">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-active">住所</td>
            <td><%= @customer.address%></td>
          </tr>
          <tr>
            <td class="table-active">携帯番号</td>
            <td><%= @customer.telephone_number%></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @customer.email%></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class = "row m-3">
      <p class = "col-2 my-1">予約確認</p>
      
      <% if @reservation.blank? %>
        <p>現在予約していません。</p>
      <% else %>
        <%= link_to "予約確認", reservation_path(@reservation.id), class: "col-2 btn btn-sm btn-success" %>
      <% end %>
    </div>
    
    <div class = "row m-3">
      <p class = "col-2 my-1">予約完了一覧</p>
      
      <% if @completes.blank? %>
        <p>現在完了はありません。</p>
      <% else %>
        <%= link_to "予約確認", completions_path, class: "col-2 btn btn-sm btn-success" %>
      <% end %>
    </div>

  </div>
</main>