<main>
    <div class = "container">
      <div class = "row my-3">
        <div class = "col-4">
          <h2>予約詳細</h2>
        </div>
        <div class = "col-6 my-2 text-right">
          <label>予約日：</label>
        <%= @reservation.reservation_day.strftime('%Y/%m/%d') %>　
        <%= @reservation.start_time.strftime('%H:%M') %> ~ 
        <%= @reservation.finish_time.strftime('%H:%M') %>
        </div>
      </div>
      
      <h4 class = "my-3">ユーザー情報</h4>
      <div class = "row mb-3">
        <label>氏名：</label>
        <%= @reservation.customer.last_name %><%= @reservation.customer.first_name %>
      </div>

      <div class = "row mb-3">
        <label>住所：</label>
        <%= @reservation.customer.address_display %>
      </div>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>電話番号：</label>
          <%= @reservation.customer.telephone_number %>
        </div>

        <div class = "col-4">
          <label>メールアドレス：</label>
          <%= @reservation.customer.email %>
        </div>
      </div>
      
      <h4 class = "my-3">対応内容</h4>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>ジャンル：</label>
          <%= @reservation.genre.name %>
        </div>

        <div class = "col-3">
          <label>機種：</label>
          <%= @reservation.model_number %>
        </div>

        <div class = "col-3">
          <label>シリアル：</label>
          <%= @reservation.serial_number %>
        </div>
      </div>

      <div class = "row mb-3">
        <label>内容</label>
        <table class="table table-bordered border-dark" >
          <tr>
            <td><%= @reservation.introduction %></td>
          </tr>
        </table>
      </div>

      <div class = "row mb-3">
        <label>現象写真：</label>
          <% if @reservation.repair_images.attached? %>
            <% @reservation.repair_images.each do |repair_image| %>
              <%= image_tag repair_image.variant(resize_to_limit: [10, 10]) %>
            <% end %>
          <% end %>
      </div>

      <div class = "row">
        <div class = "col text-right">
          <label>対応者：</label>
            <%= @reservation.engineer.last_name %><%= @reservation.engineer.first_name %>
        </div>
      </div>
      
      <div class = "row mb-3 justify-content-center">
          <%= link_to "完了" ,completion_engineer_completions_path(:id => @reservation.id), class: "btn btn-sm btn-primary m-1 col-4" %>
      </div>

    </div>
</main>