<main>
   <div class = "container">
     <div class = "row my-3">
       <div class = "col-4">
         <h2>予約制限</h2>
       </div>
       <div class = "col-6 text-right my-1">
          <%= form_with model: @default_limits,url: update_all_admin_restrictions_path, method: :patch do |f| %>
            <label>デフォルト人数：</label>
            <% if @default_limits.present? %>
              <%= f.select :headcount, *[0..20], selected: @default_limits_last.headcount %>
              <%= f.submit '変更', class:"btn btn-success" %>
            <% else %>
              <p>予約時間設定に値が入っていません</p>
            <% end %>
          <%end%>
       </div>
     </div>
    
          <%= month_calendar do |date| %>
          <%= date.day %><br />
          <% if Date.today + 2 < date %> 
            <%= link_to "予約制限", time_admin_restrictions_path(date) %>
          <% else %>
            <label>-</label>
          <% end %>
       <% end %>
  </div>
</main>