<main>
  <div class = "container">
    <div class = "row my-3">
      <div class = "col-6">
        <h2>予約制限（<%= @day_params%>）</h2>
      </div>
    </div>
    
  <%= form_with model: @restriction,url: admin_restriction_path(:id), method: :patch do |f| %>
    <div class ="row">
    <div class="col-4 px-5 mt-5">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>時間帯</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
  
            <% @restriction.each do |restriction| %>
              <tr>
                <td><%= restriction.start_time.strftime('%H:%M') %>　～　<%= restriction.finish_time.strftime('%H:%M') %></td>
                <td>
                  <%= f.hidden_field :reservation_day, :value => @day_params %>
                  <%= f.hidden_field :start_time, :value => restriction.start_time %>
                  <%= f.hidden_field :finish_time, :value => restriction.finish_time %>
                  <%= f.select :headcount, *[1..20], selected: restriction.headcount %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        </div>
    </div>
    <div class = "row">
      <div class = "col-10 text-right">
        <%= f.submit '変更', class:"btn btn-success" %>
      </div>
    </div>
  <%end%>


  </div>
</main>
