<main>
  <div class = "container">
    <div class = "row my-3">
      <div class = "col-6">
        <h2>予約制限（<%= @day_params%>）</h2>
      </div>
    </div>

    <div class ="row">
    <div class="col-4 px-5 mt-5">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>時間帯</th>
              <th></th>
            </tr>
          </thead>
        <%= form_with model: @restriction,url: admin_restriction_path(:id), method: :patch do |f| %>
          <tbody>
            <% @restriction.each do |restriction| %>
              <tr>
                <td><%= restriction.default_limit.start_time.strftime('%H:%M') %>　～　<%= restriction.default_limit.finish_time.strftime('%H:%M') %></td>
                <td>
                  <% if restriction.update_status > 0 %>
                    <%= f.select :headcount, *[1..20], selected: restriction.headcount %> <!--個別での上限を表示するようにする-->
                  <% else %>
                    <%= f.select :headcount, *[1..20], selected: restriction.default_limit.headcount %>
                  <% end %>

                  <%= f.submit '変更', class:"btn btn-success" %>
                </td>
              </tr>
            <%end%>
          </tbody>
        <%end%>
        </table>
        </div>
    </div>
    <div class = "row">
      <div class = "col-10 text-right">

      </div>
    </div>


  </div>
</main>
