<main>
    <div class = "container">
      <div class = "row my-3">
        <div class = "col-4">
          <h2>対応完了詳細</h2>
        </div>
        <div class = "col-6 my-2 text-right">
          <label>対応完了日：</label>
        <%= @completion.created_at.strftime('%Y/%m/%d %H:%M') %>　
        </div>
      </div>
      
      <h4 class = "my-3">ユーザー情報</h4>
      <div class = "row mb-3">
        <label>氏名：</label>
        <%= @completion.reservation.customer.last_name %><%= @completion.reservation.customer.first_name %>
      </div>

      <div class = "row mb-3">
        <label>住所：</label>
        <%= @completion.reservation.customer.address_display %>
      </div>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>電話番号：</label>
          <%= @completion.reservation.customer.telephone_number %>
        </div>

        <div class = "col-4">
          <label>メールアドレス：</label>
          <%= @completion.reservation.customer.email %>
        </div>
      </div>
      
      <h4 class = "my-3">対応内容</h4>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>ジャンル：</label>
          <%= @completion.reservation.genre.name %>
        </div>

        <div class = "col-3">
          <label>機種：</label>
          <%= @completion.reservation.model_number %>
        </div>

        <div class = "col-3">
          <label>シリアル：</label>
          <%= @completion.reservation.serial_number %>
        </div>
      </div>
      
      <label>依頼内容</label>
        <div class="card">
          <div class="card-body">
            <%= @completion.reservation.introduction %>
          </div>
        </div>
      
      <div class = "row my-3">
        <label>現象写真：</label>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_id">
            モーダルボタン
          </button>
          
          <div class="modal fade" id="Modal_id" tabindex="-1" aria-labelledby="modal_id_Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">現象写真</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <% if @completion.reservation.repair_images.attached? %>
                    <% @completion.reservation.repair_images.each do |repair_image| %>
                      <%= image_tag repair_image.variant(resize_to_limit: [100, 100]) %>
                    <% end %>
                  <% end %>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
                
              </div>
            </div>
          </div>
      </div>
      
      <label>対応内容</label>
        <div class="card">
          <div class="card-body">
            <%= @completion.substance %>
          </div>
        </div>

      <div class = "row">
        <div class = "col text-right">
          <label>対応者：</label>
            <%= @completion.reservation.engineer.last_name %><%= @completion.reservation.engineer.first_name %>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-12 col-md-4 mx-auto">
          <%= link_to "ホームへ戻る" ,engineer_engineers_path, class: "btn btn-primary btn-block" %>
        </div>
      
        <div class="col-12 col-md-4 mx-auto">
          <% if @evaluation.blank? %>
            評価されていません
          <% else %>
            <%= link_to "評価を見る" ,engineer_evaluation_path(@completion.id), class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>

    </div>
</main>