<main>
  <div class='container'>
    <div class='row'>
      <h2>ログイン</h2>
    </div>

<%= form_with model: resource, url: admin_session_path(resource) do |f| %>
<div class = "row justify-content-center">
    <div class = "col-2 mt-3">
      <%= f.label "メールアドレス:" %>
    </div>
    <div class = "col-3 mt-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
</div>

<div class = "row justify-content-center">
    <div class="col-2 mt-3">
      <%= f.label "パスワード:" %>
    </div>
    <div class = "col-3 mt-3">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
</div>

<div class = "row justify-content-center">
  <div class="actions">
    <div class = "col-auto mt-5">
    <%= f.submit "ログイン" ,class: "btn btn-primary"%>
    </div>
  </div>
</div>
<% end %>

<%= render "admin/shared/links" %>

  </div>
</main>
