<main>
    <div class = "container">
      <div class = "row my-3">
        <div class = "col-4">
          <h2>予約詳細</h2>
        </div>

        <% if  @reservation.errors.any? %>
          <%=  @reservation.errors.count %>件のエラーが発生しました
          <ul>
            <%  @reservation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class = "row ml-3">
          <% if  @reservation.errors.any? %>
            <h6 class = "col-auto text-danger">全ての値を入力ください。</h6>
          <% end %>
        </div>

        <div class = "col-6 my-2 text-right">
          <label>予約日：</label>
        <%= @reservation.reservation_day.strftime('%Y/%m/%d') %>
        <%= @reservation.start_time.strftime('%H:%M') %> ~
        <%= @reservation.finish_time.strftime('%H:%M') %>
        </div>
      </div>

      <h4 class = "my-3">ユーザー情報</h4>
      <div class = "row mb-3">
        <label>氏名：</label>
        <%= @reservation.customer.last_name %><%= @reservation.customer.first_name %>
      </div>

      <div class = "row mb-3">
        <label>住所：</label>
        <%= @reservation.customer.address_display %>
      </div>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>電話番号：</label>
          <%= @reservation.customer.telephone_number %>
        </div>

        <div class = "col-4">
          <label>メールアドレス：</label>
          <%= @reservation.customer.email %>
        </div>
      </div>

      <h4 class = "my-3">対応内容</h4>

      <div class = "row mb-3">
        <div class = "col-3 pl-0">
          <label>ジャンル：</label>
          <%= @reservation.genre.name %>
        </div>

        <div class = "col-3">
          <label>機種：</label>
          <%= @reservation.model_number %>
        </div>

        <div class = "col-3">
          <label>シリアル：</label>
          <%= @reservation.serial_number %>
        </div>
      </div>

      <label>依頼内容</label>
        <div class="card">
          <div class="card-body">
            <%= @reservation.introduction %>
          </div>
        </div>

      <div class = "row m-3">
        <label class = "my-1">現象写真：</label>

        <% if @reservation.repair_images.attached? %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          確認ボタン
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">現象写真</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <% @reservation.repair_images.each do |repair_image| %>
                    <%= image_tag repair_image.variant(resize_to_limit: [450, 450]),class: "my-1" %>
                  <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
        <% else %>
          <p class = "my-1">画像なし</p>
        <% end %>
      </div>

      <div class = "row">
        <div class = "col text-right">

          <% if @reservation.engineer_id.blank? %>
          <label>対応者：</label>
            ?? ??
          <% else %>
            <%= form_with model: @reservation,url: admin_reservation_path(@reservation.id),method: :patch do |f| %>
              <%= f.label "対応者：" %>
              <%= f.select :engineer_id, @engineers.map{ |engineer| [engineer.last_name+engineer.first_name, engineer.id]}, {selected: @reservation.engineer.id} %>
            　<%= f.submit '変更', class:"btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</main>