<main>
  <div class = "container px-5">
    <div class = "row m-3">
      <h5>
        <%= @customer.last_name+@customer.first_name%>さんの会員情報編集
      </h5>
    </div>

    <div class = "row ml-3">
      <% if @customer.errors.any? %>
        <h6 class = "col-auto text-danger">全ての値を入力ください。</h6>
      <% end %>
    </div>

    <%= form_with model: @customer,url: admin_customer_path(@customer.id),method: :patch do |f| %>

    <div class = "row mt-2">
        <p class = "col-3">氏名</p>
        <%= f.text_field :last_name ,class: "form-control col-3 mr-5"%>
        <%= f.text_field :first_name ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">フリガナ</p>
        <%= f.text_field :last_name_kana ,class: "form-control col-3 mr-5"%>
        <%= f.text_field :first_name_kana ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">郵便番号</p>
        <%= f.text_field :postal_code ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">住所</p>
        <%= f.text_field :address ,class: "form-control col-8 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">電話番号</p>
        <%= f.text_field :telephone_number ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3">メールアドレス</p>
        <%= f.text_field :email ,class: "form-control col-3 mr-5"%>
    </div>
    <div class = "row mt-2">
        <p class = "col-3"> 会員ステータス</p>
          <div class = "col-5">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted_false,"有効" %>
            <%= f.radio_button :is_deletede, true %>
            <%= f.label :is_deletedve_true,"退会" %>
          </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-12 col-md-4 mx-auto">
        <%= f.submit '変更を保存', class:"btn btn-success btn-block" %>
      </div>
    </div>
    <%end%>
  </div>
</main>