<main>
  <div class = "container px-5">
    <div class = "row m-3">
      <h2>マイページ</h2>
    </div>

    <div class = "row m-3">
      <p class = "col-2 my-1">登録情報</p>
      <%= link_to "編集する", edit_engineer_engineers_path, class: "col-2 btn btn-sm btn-success" %>
    </div>

    <div class = "row ml-3 ">
      <table class="table table-bordered table-inverse col-md-6">
        <tbody>
          <tr>
            <td class="table-active col-md-4">氏名</td>
            <td class="col-md-8"><%= @engineer.last_name %>　<%=@engineer.first_name %></td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td><%= @engineer.last_name_kana%>　<%=@engineer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-active">携帯番号</td>
            <td><%= @engineer.telephone_number%></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @engineer.email%></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class = "row m-3">
      <p class = "col-2 my-1">対応予定一覧</p>

      <% if @reservation.blank? %>
        <p>現在予約していません。</p>
      <% else %>
        <%= link_to "対応予定", engineer_correspondences_path, class: "col-2 btn btn-sm btn-success" %>
      <% end %>
    </div>

    <div class = "row m-3">
      <p class = "col-2 my-1">対応完了一覧</p>

      <% if @completes.blank? %>
        <p>現在完了はありません。</p>
      <% else %>
        <%= link_to "対応完了", engineer_completions_path, class: "col-2 btn btn-sm btn-success" %>
      <% end %>
    </div>

  </div>
</main>