<main>
  <div class='container'>
    <div class='row my-3'>
      <h2>対応時間設定</h2>
    </div>
    <% if @default_limit.errors.any? %>
      <%= @default_limit.errors.count %>件のエラーが発生しました
      <ul>
        <% @default_limit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>


      <%= form_with model: @default_limit,url: admin_default_limits_path do |f| %>
      <div class = "row justify-content-center mt-3">
          <label class = "col-2 my-1">開始時間　： </label>
          <%= f.time_field :start_time ,style: "width:200px;"%>
          <p class = "col-1 text-center"> ～ </p>
          <label class = "col-2 my-1">終了時間　：</label>
          <%= f.time_field :finish_time ,style: "width:200px;"%>
      </div>

      <div class = "row my-3 ml-4">
        <%= f.submit '追加', class:"btn btn-success col-1" %>
      </div>

      <%end%>


    <div class ="row">
    <div class="col-4 px-5 mt-5">
        <table class="table table-bordered border-primary">
          <thead>
            <tr>
              <th>時間帯</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
          <% @default_limits.each do |default_limit| %>

            <tr>
              <td><%= default_limit.start_time.strftime('%H:%M') %>　～　<%= default_limit.finish_time.strftime('%H:%M') %></td>
              <td>
                <%= link_to "削除", admin_default_limit_path(default_limit.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger ml-2" %>
              </td>
            </tr>

          <%end%>
          </tbody>
        </table>
        </div>
      </div>

  </div>
</main>