<main>
   <div class = "container">
     <div class = "row my-3">
       <div class = "col-4">
         <h2>予約画面</h2>
       </div>
     </div>

      <% if @reservation.errors.any? %>
      <%= @reservation.errors.count %>件のエラーが発生しました
      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class = "row ml-3">
      <% if @reservation.errors.any? %>
        <h6 class = "col-auto text-danger">再度、予約し直してください。</h6>
      <% end %>
    </div>

        <%= month_calendar do |date| %>
          <%= date.day %><br />

          <%
            @restrictions_day = @restrictions.where(reservation_day: date)
            @day_restriction = Date.today + 2
            # 以下、予約上限の計算変数
            @restrictions_sum = @restrictions_day.where.not(update_status: 0).sum(:headcount)
            @default_restrictions_count = @restrictions_day.where(update_status: 0).count
            @default_restrictions_sum = @default_restrictions_count * @default_limits.last.headcount
            @default_limits_count = @default_limits.count
            @default_limits_sum = @default_limits_count * @default_limits.last.headcount
            # 以上、予約上限の計算変数
          %>

          <% if @day_restriction < date && @restrictions_day.blank? && @default_limits_sum > 0 %>
            <%= link_to "〇", time_reservations_path(date) %>
          <% elsif @day_restriction < date && @restrictions_sum + @default_restrictions_sum > 0 && @restrictions_day.exists?(limited: false)  %>
            <%= link_to "〇", time_reservations_path(date) %>
          <% else %>
            <p> - </p>
          <% end %>
        <% end %>
  </div>
</main>