<main>
  <div class = "container">
    <div class = "row my-3">
      <div class = "col">
        <h2>予約画面（<%= @day_params.to_time.strftime('%Y/%m/%d') %>　<%= @start_time_params.to_time.strftime('%H:%M') %>　~　<%= @finish_time_params.to_time.strftime('%H:%M') %>）</h2>
      </div>
    </div>

    <%= form_with model: @reservation,url: reservations_path do |f| %>
      <div class = "row mb-3">
        <label>ジャンル：</label>
        <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] } , include_blank: "--選択して下さい--" %>
      </div>

      <div class = "row mb-3">
        <label>機種：</label>
        <%= f.text_field :model_number %>
      </div>

      <div class = "row mb-3">
        <label>シリアル：</label>
        <%= f.text_field :serial_number %>
      </div>

      <div class = "row mb-3">
        <div class = "col my-3">
          <b>現象画像</b>
          <%= f.file_field :repair_images, placeholder: "ファイルを選択", accept: "image/*", direct_upload: true, multiple: true,class: "form-control-file repair_image" %>
        </div>
      </div>

      <div class = "row mb-3">
        <div class = "col">
          <label>内容</label><br />
          <%= f.text_area :introduction ,:size => "100" %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12 col-md-4 mx-auto">
          <%= f.hidden_field :reservation_day, :value => @day_params %>
          <%= f.hidden_field :start_time, :value => @start_time_params %>
          <%= f.hidden_field :finish_time, :value => @finish_time_params %>
          <%= f.hidden_field :customer_id, :value => current_customer.id  %>
          <%= f.submit "予約する" ,class: "btn btn-success btn-block"%>
        </div>
      </div>
    <% end %>


  </div>
</main>