<main>
   <div class = "container">
     <div class = "row my-3">
       <div class = "col-4">
         <h2>予約画面</h2>
       </div>
     </div>
 <div class ="row">
    <div class="col-4 px-5 mt-5">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>時間帯</th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
            
            <% @restriction.each do |restriction| %>
            <%= form_with model: @restriction,url: new_reservation_path do |f| %>
              <tr>
                <td><%= restriction.default_limit.start_time.strftime('%H:%M') %>　～　<%= restriction.default_limit.finish_time.strftime('%H:%M') %></td>
                <td>
                  <%= f.hidden_field :start_time, :value => restriction.default_limit.start_time %>
                  <%= f.hidden_field :finish_time, :value => restriction.default_limit.finish_time %>
                  <%= f.hidden_field :reservation_day, :value => @day_params %>
                  <%= f.submit '予約する', class:"btn btn-success" %>
                </td>
              </tr>
              <%end%>
            <%end%>
          </tbody>
        
        </table>
        </div>
    </div>
    <div class = "row">
      <div class = "col-10 text-right">

      </div>
    </div>
  </div>
</main>