<main>
   <div class = "container">
     <div class = "row my-3">
       <div class = "col-4">
         <h2>予約画面</h2>
       </div>
     </div>
 <div class ="row">
    <div class="col-4 px-5 mt-5">
        <table class="table table-bordered border-primary">
          <thead>
            <tr>
              <th>時間帯</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <% @restriction.each do |restriction| %>
              <tr>
                <td><%= restriction.default_limit.start_time.strftime('%H:%M') %>　～　<%= restriction.default_limit.finish_time.strftime('%H:%M') %></td>
                <td>
                  <% if restriction.update_status > 0 && restriction.headcount > 0 %>
                    <%= link_to new_reservation_path(:reservation_day => @day_params, :start_time => restriction.default_limit.start_time, :finish_time => restriction.default_limit.finish_time) do %>
                      <%= "予約する" %>
                    <% end %>
                  <% elsif  restriction.update_status = 0 && restriction.default_limit.headcount > 0 %>
                    <%= link_to new_reservation_path(:reservation_day => @day_params, :start_time => restriction.default_limit.start_time, :finish_time => restriction.default_limit.finish_time) do %>
                      <%= "予約する" %>
                    <% end %>
                  <% else %>
                    <p>ー</p>
                  <% end %>
                </td>
              </tr>
            <%end%>
          </tbody>

        </table>
        </div>
    </div>
  </div>
</main>