<main>
<div class ="container">
  <div class = "row my-3 ml-3">
    <h2>新規登録</h2>
  </div>

<%= form_with model: resource, url: engineer_registration_path(resource) do |f| %>
  <%= render "engineer/shared/error_messages", resource: resource %>

  <div class = "row">
    <div class = "col-3">
      <p>名前</p>
    </div>

    <div class = "col-4 ml-4">
      <div class="field">
        <%= f.label "（姓）",style: "width:65px;" %>
        <%= f.text_field :last_name,autofocus: true,style: "width:200px;" %>
      </div>
    </div>

    <div class = "col-4">
      <div class="field">
        <%= f.label "（名）",style: "width:65px;" %>
        <%= f.text_field :first_name,style: "width:200px;" %>
      </div>
    </div>
  </div>


  <div class ="row">
    <div class = "col-3">
      <p>フリガナ</p>
    </div>

    <div class = "col-4 ml-4">
      <div class="field">
        <%= f.label "（セイ）",style: "width:65px;" %>
        <%= f.text_field :last_name_kana,style: "width:200px;" %>
      </div>
    </div>

    <div class = "col-4">
      <div class="field">
        <%= f.label "（メイ）",style: "width:65px;"  %>
        <%= f.text_field :first_name_kana,style: "width:200px;" %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-4">
      <p>メールアドレス</p>
    </div>

    <div class = "col-6">
      <div class="field">
        <%= f.email_field :email,placeholder: "sample@example.com",style: "width:200px;" %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-4">
      <p>電話番号（ハイフンなし）</p>
    </div>

    <div class = "col-6">
      <div class="field">
        <%= f.text_field :telephone_number ,placeholder: "0000000000",style: "width:200px;" %>
      </div>
    </div>
  </div>

 <div class = "row">
    <div class = "col-4">
      <p>パスワード（６文字以上）</p>
    </div>

    <div class = "col-6">
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password",style: "width:200px;" %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-4">
      <p>パスワード確認用</p>
    </div>

    <div class = "col-6">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",style: "width:200px;" %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-4"></div>
    <div class = "col-6">
      <div class="actions">
        <%= f.submit "新規登録" ,class: "col-8 btn btn-sm btn-success my-3" %>
      </div>
    </div>
  </div>
<% end %>
  
  <div class = "row my-3 ml-5">
    <h5>既に登録済みの方</h5>
  </div>
  
  <div class = "row ml-5">
    <div class = "col">
      <p>
        <%= render "engineer/shared/links" %>　からログインしてください。
      </p>
    </div>
  </div>
</div>
</main>