<main>
   <div class = "container">
     <div class = "row my-3">
       <div class = "col-4">
         <h2>対応完了一覧</h2>
       </div>
     </div>
 <div class ="row px-5 mt-5">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>対応完了日</th>
              <th>対応者名</th>
              <th>会員名</th>
              <th>ジャンル名</th>
              <th>機器情報</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <% @completions.each do |completion| %>
              <tr>
                <td><%= completion.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td><%= completion.reservation.engineer.last_name %> <%= completion.reservation.engineer.first_name %></td>
                <td><%= completion.reservation.customer.last_name %> <%= completion.reservation.customer.first_name %></td>
                <td><%= completion.reservation.genre.name %></td>
                <td>
                  機種：<%= completion.reservation.model_number %><br />
                  S/N:　<%= completion.reservation.serial_number %>
                </td>
                <td><%= link_to "詳細",admin_completion_path(completion.id) ,class: "btn btn-success"%></td>
              </tr>
            <%end%>
          </tbody>

        </table>
        </div>

    <div class = "row justify-content-center">
      <%= paginate @completions %>
    </div>
  </div>
</main>