<!DOCTYPE html>
<html>
  <head>
    <title>RequestRepair</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bgc">
        <div class="container">
          <% if admin_signed_in? %>
            <%= image_tag 'logo.png', :size =>'100x80' %>
          <% elsif engineer_signed_in? %>
            <%= image_tag 'logo.png', :size =>'100x80' %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', :size =>'100x80' %>
            <% end %>
          <%end%>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span ><%= image_tag 'menu.png', :size =>'50x50'%></span>
          </button>

          <div class="collapse navbar-collapse align-items-end" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto" style="width: 120px;">

        <% if admin_signed_in? %>

          <li class="nav-item my-2">
            <%= link_to admin_default_limits_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>予約時間設定
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to day_admin_restrictions_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>予約制限
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to day_admin_reservations_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>予約一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to admin_completions_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>対応完了一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to admin_customers_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ユーザー一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to admin_genres_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ジャンル一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to destroy_admin_session_path, method: :delete, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ログアウト
            <%end%>
          </li>

        <% elsif engineer_signed_in? %>

          <li class="nav-item my-2">
            <%= link_to engineer_engineers_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>マイページ
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to day_engineer_reservations_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>予約一覧
            <%end%>
          </li>
          
          <li class="nav-item my-2">
            <%= link_to engineer_correspondences_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>対応予定一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to engineer_completions_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>対応完了一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to destroy_engineer_session_path, method: :delete, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ログアウト
            <%end%>
          </li>

        <% elsif customer_signed_in? %>

          <li class="nav-item my-2">
            <%= link_to customers_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>マイページ
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to day_reservations_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>予約する
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to completions_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>対応完了一覧
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to destroy_customer_session_path, method: :delete, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ログアウト
            <%end%>
          </li>

        <% else %>

          <li class="nav-item my-2">
            <%= link_to new_customer_registration_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>新規登録
            <%end%>
          </li>

          <li class="nav-item my-2">
            <%= link_to customer_session_path, class: ' text-black' do %>
              <%= image_tag 'icon.png', :size =>'20x20'%>ログイン
            <%end%>
          </li>


        <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <nav class="navbar navbar-expand navbar-dark bgc mt-5">

      </nav>
    </footer>
  </body>
</html>
